<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <title>主页</title>
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker-theme.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="assets/plugins/bootkit/css/bootkit.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <style>
        .dataFilter{
            float: none;
            position: absolute;
            z-index: 2;
            margin-top: 40px;
            display: none;

        }
    </style>
    <script>
        function filter(){
            if($(".dataFilter").is(':hidden')){
                $(".dataFilter").show();

            }else{

                $(".dataFilter").hide();

            }
        }
        function dofilter() {
            $("#filter_form").val($("#ajaxdata").text());
            $("#filterForm").submit();
        }
    </script>
</head>

<body>
<!-- Start: Header -->
<div th:include="commonTemp/header::commonHeader"></div>
<!-- End: Header -->
<!-- Start: Content -->
<div class="container-fluid content">
    <div class="row">

        <!-- Sidebar -->
        <div th:include="commonTemp/center::commonMenu"></div>
        <!-- End Sidebar -->

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="../index.html"><i class="icon fa fa-home"></i>主页</a></li>
                        <li class="active"><i class="fa fa-laptop"></i>良率分析</li>
                    </ol>
                </div>
                <div class="pull-right">
                    <h2>Dashboard</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <!--Start:中间内容位置-->

            <!--Start:筛选栏-->
            <div class="row col-lg-12">
                <div class="dataFilter panel">
                    <div th:include="commonTemp/menu::commonMenu"></div>
                </div>
            </div>


            <!--End:筛选栏-->

            <!--Start:测试表-->
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{index}"  method="get" id="filterForm">
                        <input type="hidden" name="filterData" id="filter_form" value="">
                        <button type="button" class="bk-margin-5 btn btn-primary" onclick="filter()">筛选</button>
                        <button type="submit" class="bk-margin-5 btn btn-primary" onclick="dofilter()">确定</button>
                        <div class="col-md-3">
                            <div class="input-daterange input-group" data-plugin-datepicker="">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
                                <input type="text" class="form-control" name="start">
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="end">
                            </div>
                        </div>
                    </form>
                    <div class="panel">
                        <div class="panel-heading bk-bg-primary">
                            <h6><i class="fa fa-table red"></i><span class="break"></span>Hover</h6>
                            <div class="panel-actions">
                                <a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>产品编码</th>
                                        <th>批号</th>
                                        <th>数量</th>
                                        <th>工序段</th>
                                        <th>工序</th>
                                        <th>工艺条件</th>
                                        <th>工作中心</th>
                                        <th>作业单元</th>
                                        <th>操作人</th>
                                        <th>当道开始时间</th>
                                        <th>当道结束时间</th>
                                        <th>良率</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="chipData : ${chipDatas}">
                                        <td th:text="${chipData.productCode}"/>
                                        <td th:text="${chipData.batchNumber}"/>
                                        <td th:text="${chipData.numberPieces}" />
                                        <td th:text="${chipData.processPeriod}" />
                                        <td th:text="${chipData.process}"/>
                                        <td th:text="${chipData.processConditions}"/>
                                        <td th:text="${chipData.workCenter}"/>
                                        <td th:text="${chipData.workUnit}"/>
                                        <td th:text="${chipData.operator}"/>
                                        <td th:text="${chipData.startTime}"/>
                                        <td th:text="${chipData.endTime}"/>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" th:attr="style='width:' + ${chipData.chipYield.yield}" th:text="${chipData.chipYield.yield}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:测试表-->

            <!--Start：测试图-->
            <div class="row col-lg-12">
                <div class="panel">
                    <div class="panel-body"><div th:include="echartsTemp/lineChart::lineCharts"></div><div>
                 <div>
             </div>
            <!--End：测试图-->

            <!--End:中间内容位置-->
        </div>
        <!-- End Main Page -->

        <!-- Center_down -->
        <div th:include="commonTemp/center::commonDown"></div>
        <!-- End Center_down -->

    </div>
</div><!--/container-->
<!-- End: Content -->
<!-- Start: Footer -->
<div th:include="commonTemp/footer::commonFooter"></div>
<!-- End: Footer -->
<script src="assets/js/chipYieldJs.js"></script>
                <script src="assets/vendor/js/jquery.min.js"></script>
                <script src="assets/vendor/js/jquery-2.1.1.min.js"></script>
                <script src="assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
                <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="assets/vendor/skycons/js/skycons.js"></script>
                <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                <script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
                <script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
                <script src="assets/plugins/maskedinput/js/jquery.maskedinput.js"></script>
                <script src="assets/js/pages/form-elements.js"></script>

</body>

</html>