<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>表格</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!-- table代码 -->
<table class="table table-striped" style="max-height: 300px;width: 900px; margin:0 auto;">

    <thead>
    <tr>
        <th>分会账号</th>
        <th>名称</th>
        <th>充值总额</th>
        <th>充值次数</th>
        <th>注册人数</th>
        <th>注册IP数</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody id="tablePage">
    <tr><td>1</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>2</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>3</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>4</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>5</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>6</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>7</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>8</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>9</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>
    <tr><td>10</td><td>是对方即</td><td>1000</td><td>50</td><td>60</td><td>60</td><td>2016.08.05</td></tr>


    </tbody>
</table>

<!-- 底边分页栏代码 -->
<div style="width:600px; margin:0 auto;">
    <ul class="pagination" id="pageList">

        <li id="spanPre" class="disabled"> <a href="javascript:pre();">&laquo;</a></li>
        <li id="spanpage1" class="active"><a href="javascript:nPage(1)">1</a></li>
        <li id="spanpage2" ><a href="javascript:nPage(2)">2</a></li>
        <li id="spanpage3" ><a href="javascript:nPage(3)">3</a></li>
        <li id="spanpage4" ><a href="javascript:nPage(4)">4</a></li>
        <li id="spanpage5" ><a href="javascript:nPage(5)">5</a></li>
        <li id="spanpage6" ><a href="javascript:nPage(6)">6</a></li>
        <li id="spanpage7" ><a href="javascript:nPage(7)">7</a></li>
        <li id="spanpage8" ><a href="javascript:nPage(8)">8</a></li>
        <li id="spanpage9" ><a href="javascript:nPage(9)">9</a></li>
        <li id="spanpage10" ><a href="javascript:nPage(10)">10</a></li>
        <li id="spanNext" ><a href="javascript:next()">&raquo;</a></li>
    </ul>
</div>
</body>
<script src="assets/js/pageHelper.js"></script>
</html>